.git
.gitignore
.venv
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.DS_Store
.pytest_cache/
local_tests/
tests/
docs/
assets/
scripts/
target/
pyproject.toml
uv.lock
README.md
Dockerfile
.dockerignore
